* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Sekuya;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.links1 {
  list-style-type: none;
}

.links2 {
  list-style-type: none;
  color: #2563eb;
}

.links3 {
  list-style-type: none;
}

.links4 {
  list-style-type: none;
}

.link {
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  font-family: Sekuya;
}

.links1 a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.links2 a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.links3 a {
  text-decoration: none;
  color: #0b2a6b;
  font-size: 16px;
}
.links4 a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.navbar {
  background: linear-gradient(90deg, #2563eb 0%, #1e40af 100%);
  height: 100px;
  padding-top: 42px;
}
a:hover {
  color: #00000069;
  transform: scale(1.2);
  transition: all linear;
}

.me {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.wrapper-1 {
  display: flex;
  justify-content: space-between;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

.normal-projects1{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b9b9b9; 
}

.normal-projects{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #b9b9b9;
  padding-right: 100px;
}

.main-proekt{
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: #b9b9b9;
}

.btn{
  color: white;
  background: linear-gradient(90deg, #2563eb 0%, #9333ea 100%);
  padding: 20px 60px;
  border-radius: 12px;
}
